{% extends 'base.html' %}

{% block title %}Devolver Producto{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/devolver_producto.css' %}">

<div class="card">
    <h2 class="center-text">
        <span class="icon"><i class='bx bxs-box'></i></span> Devolver Producto
    </h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="producto">
                <span class="icon"><i class='bx bxs-shopping-cart'></i></span> Seleccione un Producto:
            </label>
            <div class="input-container">
                <i class="input-icon fas fa-shopping-cart"></i>
                {{ form.producto }}
            </div>
        </div>

        <div class="error-message">{{ form.errors.producto }}</div>
        <p>{{ mensaje|default:"" }}</p>
        <button type="submit">
            <span class="icon"><i class='bx bx-check'></i></span> Devolver Producto
        </button>
    </form>
</div>
{% endblock %}
