{% extends 'base.html' %}

{% block title %}Entregar Producto{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/entregar_producto.css' %}">
<div class="card">
    <div class="card-body">
        <h2 class="center-text">Entregar Producto</h2>
        <form method="post" onsubmit="return validateForm();">
            {% csrf_token %}

            <div class="form-group">
                <label for="usuario_id">Carnet:</label>
                <div class="input-container">
                    <i class='bx bxs-id-card input-icon'></i>
                    <input type="text" name="usuario_id" id="usuario_id" placeholder="Ingrese su carnet" onkeydown="checkEnter(event, 'producto_id')" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="producto_id">Seleccione un Producto:</label>
                <div class="input-container">
                    <i class='bx bxs-purchase-tag-alt input-icon'></i>
                    <select name="producto" id="producto_id" onchange="updateAvailability();">
                        <option value="" disabled selected>Seleccione un producto</option>
                        {% for producto in form.producto.field.queryset %}
                            <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <i class='bx bx-bell '></i>
                <label for="comentario">Comentario (opcional):</label>
                <textarea name="comentario" id="comentario" rows="4" cols="50" placeholder="Añada un comentario opcional"></textarea>
            </div>

            <br>
            <center>
                <p class="error-message">{{ form.errors.usuario_id }}</p>
                <p class="error-message">{{ form.errors.producto }}</p>
                <p>{{ mensaje|default:"" }}</p>
                <button type="submit" class="button" id="submit-button">Entregar Producto</button>
            </center>
        </form>

        <br>
    </div>
</div>
<a href="{% url 'lista_movimientos' %}" class="button-go-to-home">Ir a la Lista de Movimientos</a>
<script src="{% static 'js/entregar_producto.js' %}"></script>
{% endblock %}
