{% extends 'base.html' %}

{% block title %}Información de Producto{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/informacion_producto.css' %}">
    <div class="info-container">
        <h2><i class="bx bxs-info-circle"></i> Información de Producto</h2>
        <div class="product-details">
            <p><i class="bx bxs-badge-check"></i> <strong>Nombre:</strong> {{ producto.nombre }}</p>
            <p><i class="bx bxs-building"></i> <strong>Marca:</strong> {{ producto.marca }}</p>
            <p><i class="bx bxs-barcode"></i> <strong>Código de Barras:</strong> {{ producto.codigo }}</p>
            <p><i class="bx bxs-laptop"></i> <strong>Modelo:</strong> {{ producto.modelo }}</p>
            <p><i class="bx bx-map"></i> <strong>Ubicación:</strong> {{ producto.ubicacion }}</p>
            <p>
                <i class="bx bxs-check-circle"></i>
                <strong>Disponibilidad:</strong> {% if producto.disponible %}Disponible{% else %}No Disponible{% endif %}
            </p>
        </div>
        <br><br>
        <a href="{% url 'listar_productos' %}" class="button">
            <i class="bx bx-arrow-back"></i> Volver a la Lista de Productos
        </a>
    </div>
{% endblock %}
