{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lista_productos.css' %}">
<br><br>
    <h1>Lista de Productos</h1>
    <div class="products-container">
        <table class="product-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Código de Barras</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr class="product-item">
                        <td><a href="{% url 'informacion_producto' producto.id %}">{{ producto.nombre }}</a></td>
                        <td>{{ producto.marca }}</td>
                        <td>{{ producto.codigo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <a href="{% url 'agregar_producto' %}" class="add-product-button">
        <i class="bx bx-plus"></i> Agregar Producto
    </a>    
{% endblock %}
