.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 3%;
}

.center-text {
    text-align: center;
    color: var(--primary-color); /* Azul oscuro */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #666;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

button {
    background-color: var(--primary-color); /* Azul oscuro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-color); /* Azul oscuro más oscuro al pasar el mouse */
}