/* estilos.css */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #007BFF, #b42b08);
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.products-container {
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}
.users-container {
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}

.button {
    padding: 15px 30px;
    background: linear-gradient(to bottom, #007BFF, #012143);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background: linear-gradient(to bottom, #0056b3, #003c6e);
}
.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-link {
    text-decoration: none;
    color: #333;
    display: block;
}

.product-info {
    text-align: left;
    margin-left: 10px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
/* Estilos para la lista de productos */
.user-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: calc(25% - 20px); /* Espacio para 4 columnas con margen */
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-link {
    text-decoration: none;
    color: #333;
    display: block;
}

.product-info {
    text-align: left;
    margin-left: 10px;
}

/* Estilos para botones */
.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* Media query para adaptar el diseño en dispositivos más pequeños */
@media (max-width: 992px) {
    .product-item {
        width: calc(33.33% - 20px); /* Espacio para 3 columnas con margen */
    }
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 20px); /* Espacio para 2 columnas con margen */
    }

    /* En dispositivos aún más pequeños, mostrar un producto por fila */
    @media (max-width: 576px) {
        .product-item {
            width: 100%; /* Una columna sin margen en dispositivos más pequeños */
        }
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e3563; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 10px;
    /* Otras propiedades de estilo que desees aplicar */
}

/* Estilos para los elementos del menú del navbar */
.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: inline;
    margin-right: 20px; /* Ajusta el espacio entre elementos del menú */
}

/* Estilos para el contenido de la página */
.content {
    margin-top: 60px; /* Ajusta la altura del contenido para evitar solapamientos con el navbar */
    padding: 20px;
}

/* Agrega estos estilos en tu archivo estilos.css o crea uno nuevo */
.info-heading {
    font-size: 40px;
    color: #ffffff;
}

.section-heading {
    font-size: 20px;
    color: #000000;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    font-size: 18px;
    margin-bottom: 8px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.button:hover {
    background-color: #0056b3;
}


