/* Estilo para la lista de productos como tabla */
.products-container {
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
}

/* Estilo para la tabla */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de la tabla */
.product-table td, .product-table th {
    border: 1px solid #f7f2f2;
    padding: 10px;
    text-align: left;
}

/* Estilo para la cabecera de la tabla */
.product-table th {
    background-color: var(--primary-color);
    color: #fff;
}

/* Estilo para el botón "Agregar Producto" */
.add-product-button {
    display: block;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
}

/* Estilo para el ícono dentro del botón */
.add-product-button i {
    margin-right: 10px;
}

/* Agrega este estilo para el botón de eliminar */
.delete-product-button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #c41414; /* Color rojo */
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.delete-product-button:hover {
    background-color: #a90000; /* Cambia el color al pasar el mouse */
}

/* Agrega este estilo para el botón de editar */
.edit-product-button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #f0ca0f; /* Color azul */
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 5px; /* Añade un espacio entre los botones */
    transition: background-color 0.3s ease-in-out;
}

.edit-product-button:hover {
    background-color: #d0630a; /* Cambia el color al pasar el mouse */
}
