.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin-left: 4%;
}

.button-card {
    text-decoration: none;
    color: inherit;
}

.card {
    margin: 15px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    width: 300px; 
    height: 350px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Agrega sombra */
    margin-left: 10%;
}

.dark-blue-bg {
    background-color: var(--primary-color);
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: var(--primary-color)  !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Aumenta la sombra en hover */
}

.card-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 12px;
}

.card-text .bold-text {
    font-weight: 500;
}

h3 .bold-text{
    font-size: 15px;
    font-weight: 800;
}

/* Previsualizacion Historial.css */
.products-container {
    width: 100%;
    margin-left: 2.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    overflow: hidden; /* Asegura que los bordes redondos se apliquen correctamente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color: #fff;
    padding: 20px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden; /* Asegura que los bordes redondos se apliquen correctamente */
    background-color: #fff;
    justify-content: center;
    margin-bottom: 2%;
}

.history-table th, .history-table td {
    border: 1px #fff; /* Cambiado a blanco para que coincida con el fondo */
    padding: 8px;
    text-align: left;
}

.history-table th {
    background-color: var(--primary-color); /* Utiliza la variable --primary-color para el fondo del encabezado */
    color: #fff; /* Texto en el encabezado en color blanco */
}

.devolucion {
    /* Agrega estilos adicionales para 'Devolución' si es necesario */
    color: red;
}
