/* Estilo para todos los iconos en el formulario */
.input-icon i {
    font-size: 20px;  /* Ajusta el tamaño según tu preferencia */
    color: var(--primary-color);  /* Utiliza el color principal definido */
    margin-right: 5px;  /* Margen a la derecha para separar el icono del texto */
}

/* Estilo para la card del formulario */
.card {
    max-width: 92%;
    margin-left: 3.8%;
    margin-top: 30px;
    background-color: #fff;  /* Fondo blanco */
    color: var(--primary-color);  /* Texto y iconos en el color principal */
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;  /* Ajusta el relleno según tu preferencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Sombra ligera */
}

/* Estilo para todos los campos de entrada en el formulario */
form input, form select {
    margin: 10px 0;  /* Ajusta el margen según tu preferencia */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo específico para el input de Otra Ubicación */
#otra_ubicacion {
    display: none;  /* Inicialmente oculto */
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para el botón de Guardar */
form button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Efecto hover para el botón de Guardar */
form button:hover {
    background-color: #fff;
    color: var(--primary-color);
}
