.sidebar{
    border-radius: 22px;
    position: fixed;
    top: 1px;
    left: 2px;
    bottom: 1px;
    width: 80px;
    background: var(--primary-color);
    padding: 6px 16px;
    height: 100%;
    box-shadow: 5px 0 30px rgba(0,0,0,.1);
    transition: all .5s ease;
    overflow: hidden;
}

img{
    width: 80px; 
    height: auto; 
    display: inline-block; 
    filter: brightness(100%) grayscale(100%) invert(100%) sepia(0%) hue-rotate(240deg);
}

.sidebar.active{
    width: 250px;
}
.sidebar .logo_content .logo{
    margin-top: 16%;
    display: flex;
    color: #ffffff;
    height: 50px;
    width: auto;
    font-size: 10px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
}
.sidebar .logo_content .logo .logo_name{
    font-size: 18px;
    font-weight: 600;
    margin-left: 3px;
    margin-right: 8px;
}

.sidebar .logo_content .logo .logo_subname{
    font-size: 12px;
    font-weight: 100;
}

.sidebar #btn{
    position: absolute;
    color: var(--sidebar-color);
    left: 50%;
    top: 6px;
    font-size: 18px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%)
}
.sidebar.active #btn{
    left: 85%; 
}
.sidebar .src{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10%;
}
.sidebar .src input{
    position: absolute;
    height: 100%;
    width: calc(100% - 5px);
    left: 0;
    top: 0;
    border-radius: 20px;
    outline: none;
    border:none;
    background: #ffffff;
    padding-left: 50px;
    font-size: 15px;
    color: var(--primary-color);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transition: all .5s ease;
}
.sidebar .src .bx-search{
    position: absolute;
    z-index: 99;
    font-size: 22px;
    color: var(--primary-color);
    transition: all .5s ease;
}
.sidebar .src .bx-search:hover{
    color: var(--primary-color);
}
.sidebar .src .bx-search:hover ~ input{
    background: #ffffff;
}
.sidebar i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}
.sidebar ul{
    margin-top: 10%;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li a{
    color: var(--sidebar-color);
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}
.sidebar ul li a:hover{
    color: #0b2997;
    background: #e7e9f5;
}
.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45% , -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    background: #ffffff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #242424;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    opacity: 1;
    top: 50%;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% = 300px);
    left: 80px;
    transition: all .5s ease;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #242424;
    padding: 12px 24px; 
}
.sidebar.active ~ .home_content{
    left: 300px;
}

.sidebar .nav .log-out {
    margin-top: auto;
    position: absolute;
    bottom: 15px;
}