.card-verificacion {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 80%; /* Ajusta el ancho de la card según tus preferencias */
    max-width: 100%; /* Ajusta el ancho máximo de la card según tus preferencias */
    font-size: 14px; /* Ajusta el tamaño del texto según tus preferencias */
    margin: auto; /* Centra la card horizontalmente */
}

.gif-container {
    margin-bottom: 20px; /* Espacio entre el título y el GIF */
}

.carnet-gif {
    width: 55%; /* Ajusta el ancho del GIF al 100% del contenedor */
    max-height: 300px; /* Ajusta la altura máxima del GIF según tus preferencias */
}

.verification-container {
    max-width: 50%;
    margin: 20px auto;
    text-align: center;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.verify-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verify-button:hover {
    background-color: #fff;
    color: var(--primary-color);
}

p {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #fff;
    color: var(--primary-color);
}
