{% extends 'base.html' %}

{% block title %}Historial de Movimientos{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/historial.css' %}">
<h1>Historial de Movimientos</h1>
    <div class="products-container">
        
        <div class="movement-list">
            {% for movimiento in historial %}
            <a href="{% url 'informacion_historial' movimiento.id %}" class="buttonl{% if movimiento.tipo == 'Devolución' %} devolucion{% endif %}">
                <strong>Tipo:</strong> {{ movimiento.tipo }}<br>
                <strong>Usuario:</strong> {{ movimiento.usuario.username }}<br>
                <strong>Producto:</strong> {{ movimiento.producto.nombre }}<br>
                <strong>Fecha de Movimiento:</strong> {{ movimiento.fecha_movimiento }}
                
            </a>
            <br><br><br>
        {% endfor %}
        
        </div>
    </div>
        <a href="{% url 'principal' %}" class="button">Ir a la Página Principal</a>
    
{% endblock %}
