{% extends 'base.html' %}

{% block title %}Historial de Movimientos{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/historial.css' %}">

<div class="products-container">
<h2>Historial de Movimientos</h2>
<div class="products-container-1">
    <table class="history-table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Usuario</th>
                <th>Producto</th>
                <th>Fecha de Movimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in historial %}
                <tr>
                    <td class="{% if movimiento.tipo == 'Devolución' %}devolucion{% endif %}">{{ movimiento.tipo }}</td>
                    <td>{{ movimiento.usuario.nombre }}</td>
                    <td>{{ movimiento.producto.nombre }}</td>
                    <td>{{ movimiento.fecha_movimiento }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
