{% extends 'base.html' %}
{% block title %}Lista de Movimientos{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lista_movimientos.css' %}">

<h2>Lista de Entregas Pendientes</h2>
<div class="products-container">
    <table class="product-table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Producto</th>
                <th>Fecha de Entrega</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.usuario.nombre }}</td>
                    <td>{{ movimiento.producto.nombre }}</td>
                    <td>{{ movimiento.hora_entrega }}</td>
                    <td>
                        <a href="{% url 'informacion_movimiento' movimiento.id %}" class="button-go-to-home">Detalles</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
