{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SergioPlus{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

{% include 'home/sidebar.html' %}
{% include 'home/header.html' %}
<body>
    
    <div class="main-content">
        <div class="contenido">
            {% block content %}{% endblock %}
        </div>
        <a href="{% url 'principal' %}" class="button-go-to-home">
            <i class="icon bx bx-home"></i>
            Ir a la Página Principal
        </a>
    </div>

</body>
</html>
