{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Semillero{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="navbar-title">SEMILLERO</h1>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="{% url 'agregar_usuario' %}" class="button">Agregar Usuario</a></li>
                <li class="navbar-item"><a href="{% url 'entregar_producto' %}" class="button">Entregar Producto</a></li>
                <li class="navbar-item"><a href="{% url 'listar_usuarios' %}" class="button">Lista de Usuarios</a></li>
                <li class="navbar-item"><a href="{% url 'verificar_carnet' %}" class="button">Verificar Carnet</a></li>
                <li class="navbar-item"><a href="{% url 'agregar_producto' %}" class="button">Agregar Producto</a></li>
                <li class="navbar-item"><a href="{% url 'listar_productos' %}" class="button">Lista de Productos</a></li>
                <li class="navbar-item"><a href="{% url 'lista_movimientos' %}" class="button">Lista de Movimientos</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
