{% extends 'base.html' %}

{% block title %}Devolver Producto{% endblock %}

{% block content %}
<div class="container">
    <h1>Devolver Producto</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Devolver Producto</button>
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <a href="{% url 'lista_movimientos' %}" class="button">Ir a la Lista de Movimientos</a>
</div>
{% endblock %}
