{% extends 'base.html' %}

{% block title %}Devolver Producto{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h1>Devolver Producto</h1>
    <form method="post">
        {% csrf_token %}
        <img id="imagen-producto" src="{% static 'img/ingreseproducto.png' %}" alt="Producto" style="width: 400px; height: 400px;"><br>
        {{ form.codigo_producto }}
        <br>
        <button type="submit" class="button">Devolver Producto</button><br><br>
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <a href="{% url 'lista_movimientos' %}" class="button">Ir a la Lista de Movimientos</a>
</div>
{% endblock %}
