{% extends 'base.html' %}

{% block title %}Formulario de Usuario{% endblock %}

{% block content %}
<div class="info-container">
        <h1>Formulario de Usuario</h1>
        <form method="post" class="user-form">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="button" type="submit">Guardar</button>
            <br>
        </form>
        <br><br><br>
    </div><br><br>
        <a href="{% url 'principal' %}" class="button">Ir a la Página Principal</a>
    
{% endblock %}
