{% extends 'base.html' %}

{% block title %}Información de Usuario{% endblock %}

{% block content %}
    <div class="container">
        <h1>Información de Usuario</h1>
        <ul>
            <li><strong>Nombre:</strong> {{ usuario.nombre }}</li>
            <li><strong>Carrera:</strong> {{ usuario.carrera }}</li>
            <li><strong>Carnet:</strong> {{ usuario.carnet }}</li>
            <li><strong>Correo Electrónico:</strong> {{ usuario.correo_electronico }}</li>
        </ul>
        <a href="{% url 'listar_usuarios' %}" class="button">Volver a la Lista de Usuarios</a>
    </div>
{% endblock %}
