{% extends 'base.html' %}

{% block title %}Información del Historial{% endblock %}

{% block content %}
<div class="info-container">
        <h1>Información del Historial</h1>
        <p><strong>Tipo:</strong> {{ historial.tipo }}</p>
        <p><strong>Usuario:</strong> {{ historial.usuario.nombre }}</p>
        <p><strong>Producto:</strong> {{ historial.producto.nombre }}</p>
        <p><strong>Fecha de Movimiento:</strong> {{ historial.fecha_movimiento }}</p>
    </div><br><br>
        <a href="{% url 'historial' %}" class="button">Volver al Historial</a>
{% endblock %}
