{% extends 'base.html' %}

{% block title %}Información de Producto{% endblock %}

{% block content %}
    <div class="container">
        <h1>Información de Producto</h1>
        <ul>
            <li><strong>Nombre:</strong> {{ producto.nombre }}</li>
            <li><strong>Marca:</strong> {{ producto.marca }}</li>
            <li><strong>Código de Barras:</strong> {{ producto.codigo }}</li>
        </ul>
        <a href="{% url 'listar_productos' %}" class="button">Volver a la Lista de Productos</a>
    </div>
{% endblock %}
