{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="container">
        <h1>Información de Producto</h1>
        <ul>
            <li><strong>Nombre:</strong> {{ producto.nombre }}</li>
            <li><strong>Marca:</strong> {{ producto.marca }}</li>
            <li><strong>Código de Barras:</strong> {{ producto.codigo }}</li>
        </ul>
        <a href="{% url 'listar_productos' %}" class="button">Volver a la Lista de Productos</a>
    </div>
</body>
</html>
