{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Productos</h1>
    <div class="products-container">
        <ul class="user-list">
            {% for producto in productos %}
                <li class="product-item">
                    <a href="{% url 'informacion_producto' producto.id %}" class="product-link">
                        <div class="product-info">
                            <strong>{{ producto.nombre }}</strong>
                            <p>Marca: {{ producto.marca }}</p>
                            <p>Código de Barras: {{ producto.codigo }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'agregar_producto' %}" class="button">Agregar Producto</a>
    <a href="{% url 'principal' %}" class="button">Ir a la Página Principal</a>
{% endblock %}
