{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Usuarios</h1>
    <div class="users-container">
        <ul class="user-list">
            {% for usuario in usuarios %}
                <li>
                    <a href="{% url 'informacion_usuario' usuario.id %}" class="buttonl">
                        {{ usuario.nombre }} - {{ usuario.carrera }}
                    </a>
                    <br><br><br>
                </li>
            {% endfor %}
        </ul>
    </div>
        <a href="{% url 'principal' %}" class="button">Ir a la Página Principal</a>
    
{% endblock %}
