<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.nombre }} - {{ usuario.carrera }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'principal' %}"><button>Ir a la Página Principal</button></a>
</body>
</html>
