{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEMILLERO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>SEMILLERO</h1>
    <p>¡Bienvenido a la página!</p>

    <div class="button-container">
        
        <a href="{% url 'agregar_usuario' %}" class="button">Agregar Usuario</a>

        <a href="{% url 'listar_usuarios' %}" class="button">Ir a la Lista de Usuarios</a>

        <a href="{% url 'verificar_carnet' %}" class="button">Verificar Carnet</a>
        
    </div>
</body>
</html>