{% extends 'base.html' %}

{% block content %}
<div >
    <h1 class="hero-title">SergioPlus</h1>
    <p class="hero-subtitle">¡Bienvenido a la página!</p>
</div>

<div class="button-container">
    <a href="{% url 'entregar_producto' %}" class="button">Entregar Producto</a>
    <a href="{% url 'devolver_producto' %}" class="button">Devolver Producto</a>
    <a href="{% url 'lista_movimientos' %}" class="button">Lista de Movimientos</a>
    <a href="{% url 'agregar_usuario' %}" class="button">Agregar Usuario</a>
    <a href="{% url 'verificar_carnet' %}" class="button">Verificar Carnet</a>
</div>

    {% endblock %}