{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}


{% load static %}
<a href="{% url 'principal' %}" >
    <img src="{% static 'img/Logo.png' %}" class="icon-logo">
    </a>
    
    <h2>Opciones de Productos</h2>
    <div class="products-container">
        <a href="{% url 'entregar_producto' %}" class="special-button">Entregar Producto</a>
        <a href="{% url 'devolver_producto' %}" class="special-button">Devolver Producto</a>
        <a href="{% url 'agregar_producto' %}" class="special-button">Agregar Producto</a>
        <a href="{% url 'listar_productos' %}" class="special-button">Lista de Productos</a>
    </div>
{% endblock %}
