{% extends 'base.html' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
{% load static %}
<a href="{% url 'principal' %}" >
    <img src="{% static 'img/Logo.png' %}" class="icon-logo">
</a>
    <h2>Opciones de Usuarios</h2>
    <div class="user-buttons">
        <a href="{% url 'agregar_usuario' %}" class="special-button">Agregar Usuario</a>
        <a href="{% url 'listar_usuarios' %}" class="special-button">Lista de Usuarios</a>
        <a href="{% url 'verificar_carnet' %}" class="special-button">Verificar Carnet</a>
        <!-- Agregar más botones de usuario según sea necesario -->
    </div>
{% endblock %}
