{% extends 'base.html' %}

{% block title %}Verificar Carnet{% endblock %}

{% block content %}
{% load static %}
    <h1>Verificar Carnet</h1>
    <img id="imagen-producto" src="{% static 'img/ingresecarnet.png' %}" alt="Producto" style="width: 400px; height: 400px;"><br>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="carnet" name="carnet" autofocus><br>
    </form>
    <p>{{ mensaje|default:"Esperando respuesta" }}</p>

    <a href="{% url 'principal' %}" class="button">Ir a la Página Principal</a>
{% endblock %}
